<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>EDM</title>
    <link rel="stylesheet" href="../../dev_inc/scss/dm/dm.css">
</head>

<body>
    <div class="edm-wrap">
        <table align="center" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <!-- header -->
                <tr>
                    <td class="header">
                        <table align="center" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="logo">LOGO</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- //header -->
                <tr>
                    <td class="body">
                        <table align="center" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <!-- body -->
                                <tr>
                                    <td clss="inner">
                                        <div class="title">회원정보 <em>이관 및 약관동의 </em> 안내</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td clss="inner">
                                        <div class="con_txt">2020년 3월부터 보다 좋은 서비스를 위하여 OOO 회원으로 이관하여 운영됩니다. <br>
                                            OOO 회원 이관 동의 하시면 인증 절차 없이 기존 가입한 아이디로 간편하게 <br>전환됩니다. <br>
                                            OOO 회원 전환하시고 보다 편리하게 이용해보세요.
                                        </div>
                                    </td>
                                </tr>
                                <!-- //body -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td class="footer">
                        <table align="center" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="info">
                                        본 메일은 발신 전용이므로 회신하실 경우 답변되지 않으며, 문의사항은 <a href="#" class="link-btn"> 홈페이지 고객센터</a> 를
                                        이용하여 주시기 바랍니다. 메일을 원하시지 않을 경우, 로그인 후 회원정보변경에서 이메일 수신여부를
                                        변경하시기 바랍니다.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="copy">
                                        <span>Copyright© 2020 OOO CO., INC. All right reserved </span>
                                    </td>
                                    <td class="link">
                                        <a href="#" target="_blank" class="box-btn">홈페이지 바로가기</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- //Footer -->
            </tbody>
        </table>
    </div>
</body>

</html>