<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- header -->
    <meta charset="UTF-8">
    <title>IIS 발신 거래 테스트</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/css/library/csslibrary.css">
    <link rel="stylesheet" href="/resources/static/css/common_pub.css">
    <!--[if lt IE 9]>
	<script src="/resources/static/js/library/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
    <script src="/resources/static/js/library/jquery.min.js"></script>
    <script src="/resources/static/js/library/jquerylibrary.min.js"></script>
    <script src="/resources/static/js/common_pub.js"></script>
</head>

<body>
    <div class="wrapper pageclass">

        <!-- skip -->

        <div class="skip_nav">
            <a href="#leftmenu" class="goto-menu">주메뉴 바로가기</a>
            <a href="#container" class="goto-content">본문 바로가기</a>
        </div>
        <!-- //skip -->

        <!-- con-wrap -->
        <div class="con-wrap">

            <!-- gnb_left -->
            <div class="left-area js-left_area open">
                <div class="inner">
                    <h1>
                        <a href="/">
                            <span class="logo_desc">Interface <br>Integration <br>Simulator</span>
                            <img src="/resources/static/images/common/logo.png" alt="dev pace maker Kbank">
                        </a>
                    </h1>
                    <menu class="left-menu">
                        <!--  [D] depth1 class: active-->
                        <ul class="menu js-accordion_menu">
                            <li class="depth1 m01">
                                <a href="#n" class="menu_d1 js-acc_btn">대시보드</a>
                            </li>
                            <li class="depth1 m02">
                                <a href="#n" class="menu_d1 js-acc_btn">IIS 응답 거래</a>
                                <ul class="depth2">
                                    <li class="active"><a href="#n">전문포맷관리</a></li>
                                    <li><a href="#n">정보조회</a></li>
                                    <li><a href="#n">정보등록</a></li>
                                    <li><a href="#n">로그조회</a></li>
                                </ul>
                            </li>
                            <li class="depth1 m03">
                                <a href="#n" class="menu_d1 js-acc_btn">IIS 발신 거래</a>
                            </li>
                            <li class="depth1 m04">
                                <a href="#n" class="menu_d1 js-acc_btn">게시판</a>
                            </li>
                            <li class="depth1 m05">
                                <a href="#n" class="menu_d1 js-acc_btn">시스템 정보</a>
                            </li>
                        </ul>
                    </menu>
                </div>
                <div class="menu_closed js-menu_closed">
                    <button type="button"><span class="hidden">닫기</span></button>
                </div>
            </div>
            <!-- //gnb_left -->

            <div id="#container" class="container">
                <!-- header -->


                <div class="header-wrap">
                    <header class="header">
                        <div class="header-area">
                            <div class="my-alram">
                                <button type="button" class="alram-btn"><span class="txt">알림</span><span class="on"></span></button>
                            </div>
                            <div class="my-info">
                                <button type="button" class="my-btn"><span class="my-name">홍길동</span><span class="my-num">(2*****)</span></button>
                            </div>
                            <div class="loginout"><button>로그아웃</button></div>
                        </div>
                    </header>

                    <div class="page-title-wrap">

                        <div class="inner">
                            <h2 class="title"><span>IIS 발신 거래 테스트 </span></h2>
                        </div>

                    </div>

                </div>
                <!-- //header -->

                <div class="contents">
                    <div class="contents-inner">
                        <div class="content-box">

                            <div class="title-area">
                                <div class="inner">
                                    <h3 class="title"><span>IIS 발신 거래 테스트</span></h3>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="btn btn-dark">
                                        <i class="i-play2"></i>
                                        <span class="">전송</span>
                                    </button>
                                </div>
                            </div><!-- // title-area -->

                            <!-- 텝 -->
                            <section class="tabs-section">
                                <div class="tabcontrol-wrap">

                                    <div class="tabs-menu pageTabs js-topTabs">
                                        <ul class="tabs">
                                            <li class="tab">
                                                <a href="#"><span>수신시스템 선택</span></a>
                                            </li>
                                            <li class="tab active">
                                                <a href="#"><span>주소입력</span></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>


                            <!-- 검색 -->
                            <section class="search-section mt0">
                                <div class="table-wrap type-edit">
                                    <div class="table-body">
                                        <div class="table-inner">

                                            <form action="">
                                                <table class="form_table">
                                                    <colgroup>
                                                        <col style="width:230px">
                                                        <col style="width:auto">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <span>주소입력</span>
                                                            </th>
                                                            <td>
                                                                <div class="form-box">
                                                                    <div class="form_set">
                                                                        <div class="form_set">
                                                                            <div class="select-box">
                                                                                <select class="" id="">
                                                                                    <option value="1" selected="" disabled="">POST</option>
                                                                                    <option value="2">GET</option>
                                                                                </select>
                                                                                <i class="arrow"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form_set flex-grow ml10">
                                                                            <div class="input-box">
                                                                                <input type="text" id="" class="inp" value="" placeholder="http://172.20.X.X:14280">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </section>


                            <!-- 탭 1 -->
                            <section class="tabs-section">

                                <div class="text-box-wrap gray-area">

                                    <div class="tabs-menu">
                                        <ul class="tabs wide ">
                                            <li class="tab active">
                                                <a href="#tab_1-1"><span>Headers</span></a>
                                            </li>
                                            <li class="tab ">
                                                <a href="#tab_1-2"><span>Body</span></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-content_tiem active">
                                            <div class="scroll-type" style="height: 250px;">

                                                <div class="table-wrap type2">
                                                    <div class="table-body">

                                                        <div class="gridlist_table">
                                                            <div id="grid2_1"></div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="tab_1-2" class="tab-content_tiem">

                                            <div class="white-area">

                                                <div class="form-wrap mb25">
                                                    <div class="radiobox-wrap inlineblock">
                                                        <input type="radio" id="inp-radio11-1" name="radio11" checked="" class="radiobox" value="text">
                                                        <label for="inp-radio11-1"><span>Text</span></label>
                                                    </div>
                                                    <div class="radiobox-wrap inlineblock">
                                                        <input type="radio" id="inp-radio11-2" name="radio11" class="radiobox" value="json">
                                                        <label for="inp-radio11-2"><span>josn</span></label>
                                                    </div>
                                                    <div class="radiobox-wrap inlineblock">
                                                        <input type="radio" id="inp-radio11-3" name="radio11" class="radiobox" value="xml">
                                                        <label for="inp-radio11-3"><span>xml</span></label>
                                                    </div>
                                                </div>

                                                <div class="input-box" style="height: 145px;">
                                                    <textarea class="pd10" name="" id="" cols="30" rows="10"></textarea>
                                                </div>
                                                <!--  
                          <div class="border_round scroll-type" style="height: 145px;">
                            <div class="inner pd10">
                              padding: 10px 12px;<br>
                              background-color: $white;<br>
                              border-radius: 4px;<br>
                            </div> 
                          </div> 
                          -->
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </section>


                            <!-- 탭 2 -->
                            <section class="tabs-section">

                                <div class="title-area mb20">
                                    <h4 class="title-h2">Response</h4>
                                </div>

                                <div class="text-box-wrap gray-area">
                                    <div class="tabs-menu">

                                        <ul class="tabs wide ">
                                            <li class="tab active">
                                                <a href="#tab_2-1"><span>FLAT</span></a>
                                            </li>
                                            <li class="tab ">
                                                <a href="#tab_2-2"><span>JSON</span></a>
                                            </li>
                                            <li class="tab ">
                                                <a href="#tab_2-3"><span>XML</span></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content text-box">
                                        <div id="tab_2-1" class="tab-content_tiem active">
                                            <div class="scroll-type" style="height: 250px;">
                                                <div class="inner">
                                                    padding: 10px 12px;<br>
                                                    background-color: $white;<br>
                                                    border-radius: 4px;<br>
                                                    border: 1px solid #ddd;<br>
                                                    overflow-y: auto;<br>
                                                    padding: 10px 12px;<br>
                                                    background-color: $white;<br>
                                                    border-radius: 4px;<br>
                                                    border: 1px solid #ddd;<br>
                                                    overflow-y: auto;<br>
                                                    padding: 10px 12px;<br>
                                                    background-color: $white;<br>
                                                    border-radius: 4px;<br>
                                                    border: 1px solid #ddd;<br>
                                                    overflow-y: auto;<br>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab_2-2" class="tab-content_tiem">
                                            <div class="scroll-type" style="height: 250px;">
                                                <div class="inner">
                                                    padding: 10px 12px;<br>
                                                    background-color: $white;<br>
                                                    border-radius: 4px;<br>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab_2-3" class="tab-content_tiem">
                                            <div class="scroll-type" style="height: 250px;">
                                                <div class="inner">
                                                    padding: 10px 12px;<br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>



                        </div><!-- // content-box -->
                    </div>
                </div>

            </div>

        </div>
        <!-- //con-wrap -->

        <!-- footer -->

    </div>


    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script>
        var grid2_1Data = [{
                id: '1',
                field_en: 'strd_tlgr_vrsn',
                field_kr: '전문길이',
                type: 'Number',
                length: '100',
                input: '-',
            },
            {
                id: '2',
                field_en: 'strd_tlgr_vrsn',
                field_kr: '전문길이',
                type: 'Number',
                length: '100',
                input: '-',
            },
            {
                id: '3',
                field_en: 'strd_tlgr_vrsn',
                field_kr: '전문길이',
                type: 'Number',
                length: '100',
                input: '-',
            },
            {
                id: '4',
                field_en: 'strd_tlgr_vrsn',
                field_kr: '전문길이',
                type: 'Number',
                length: '100',
                input: '-',
            },
            {
                id: '5',
                field_en: 'strd_tlgr_vrsn',
                field_kr: '전문길이',
                type: 'Number',
                length: '100',
                input: '-',
            },
        ];

        var grid2_1 = new tui.Grid({
            el: document.getElementById('grid2_1'),
            data: grid2_1Data,
            rowHeight: 50,
            scrollX: false,
            scrollY: false,
            //rowHeaders: ['rowNum'], // 좌측 넘버추가
            //minBodyHeight: 30,
            /* pageOptions: {
              useClient: true,
              perPage: 4
            }, */
            columns: [{
                    header: '번호',
                    name: 'id',
                    align: "center",
                    width: 80,
                },
                {
                    header: '필드 명(영문)',
                    name: 'field_en'
                },
                {
                    header: '필드 명(한글)',
                    name: 'field_kr'
                },
                {
                    header: '유형',
                    name: 'type',
                    align: "center",
                    width: 120,
                },
                {
                    header: '길이',
                    name: 'length',
                    align: "center",
                    width: 120,
                },
                {
                    header: '입력',
                    name: 'input',
                    align: "center",
                    width: 120,
                },
            ]
        });
    </script>

</body>

</html>