<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- header -->
    <meta charset="UTF-8">
    <title>안내</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/css/library/csslibrary.css">
    <link rel="stylesheet" href="/resources/static/css/common_pub.css">
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
    <script src="/resources/static/js/library/jquery.min.js"></script>
    <script src="/resources/static/js/library/jquerylibrary.min.js"></script>
    <script src="/resources/static/js/common_pub.js"></script>
</head>

<body class="">
    <div class="wrapper pageclass">

        <!-- skip -->

        <div class="skip_nav">
            <a href="#leftmenu" class="goto-menu">주메뉴 바로가기</a>
            <a href="#container" class="goto-content">본문 바로가기</a>
        </div>
        <!-- //skip -->

        <!-- con-wrap -->
        <div class="con-wrap">

            <!-- gnb_left -->
            <div class="left-area js-left_area open">
                <div class="inner">
                    <h1><a href="/"><img src="/resources/static/images/common/logo.png" alt="dev pace maker Kbank"></a></h1>
                    <menu class="left-menu">
                        <!--  [D] depth1 class: active-->
                        <ul class="menu js-accordion_menu">
                            <li class="depth1 m01">
                                <a href="#n" class="menu_d1 js-acc_btn">대시보드</a>
                            </li>
                            <li class="depth1 m02">
                                <a href="#n" class="menu_d1 js-acc_btn">IIS 응답 거래</a>
                                <ul class="depth2">
                                    <li class="active"><a href="#n">전문포맷관리</a></li>
                                    <li><a href="#n">정보조회</a></li>
                                    <li><a href="#n">정보등록</a></li>
                                    <li><a href="#n">로그조회</a></li>
                                </ul>
                            </li>
                            <li class="depth1 m03">
                                <a href="#n" class="menu_d1 js-acc_btn">IIS 발신 거래</a>
                            </li>
                            <li class="depth1 m04">
                                <a href="#n" class="menu_d1 js-acc_btn">게시판</a>
                            </li>
                            <li class="depth1 m05">
                                <a href="#n" class="menu_d1 js-acc_btn">시스템 정보</a>
                            </li>
                        </ul>
                    </menu>
                </div>
                <div class="menu_closed js-menu_closed">
                    <button type="button"><span class="hidden">닫기</span></button>
                </div>
            </div>
            <!-- //gnb_left -->

            <div #id="container" class="container">
                <!-- header -->


                <div class="header-wrap">
                    <header class="header">
                        <div class="header-area">
                            <div class="my-alram">
                                <button type="button" class="alram-btn"><span class="txt">알림</span><span class="on"></span></button>
                            </div>
                            <div class="my-info">
                                <button type="button" class="my-btn"><span class="my-name">홍길동</span><span class="my-num">(2*****)</span></button>
                            </div>
                            <div class="loginout"><button>로그아웃</button></div>
                        </div>
                    </header>

                </div>
                <!-- //header -->

                <div class="contents">
                    <div class="contents-inner">
                        <div class="content-box">

                            <section class="full-section">
                                <div class="section-wrap">
                                    <div class="section-inner kbank_bg">

                                        <div class="page-error">
                                            <div class="error-inner">

                                                <div class="desc">
                                                    <p>
                                                        <span class="t_h3">
                                                            서비스 이용에 불편을 드려 죄송합니다. <br>
                                                            현재 네트워크 및 서버장애로 접속이 원활하지 않습니다.
                                                        </span>
                                                    </p>
                                                    <p class="mt10">
                                                        <span class="t_p1 colorP">최대한 빠른 시간 내에 복구하도록 하겠습니다.</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>



        </div>
        <!-- //container -->

        <!-- footer -->

    </div>
</body>

</html>