<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- header -->
    <meta charset="UTF-8">
    <title>IIS 포털 로그인 화면</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/css/library/csslibrary.css">
    <link rel="stylesheet" href="/resources/static/css/common_pub.css">
    <!--[if lt IE 9]>
	<script src="/resources/static/js/library/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
    <script src="/resources/static/js/library/jquery.min.js"></script>
    <script src="/resources/static/js/library/jquerylibrary.min.js"></script>
    <script src="/resources/static/js/common_pub.js"></script>
</head>

<body class="full">
    <div class="wrapper">

        <!-- skip -->

        <div class="skip_nav">
            <a href="#leftmenu" class="goto-menu">주메뉴 바로가기</a>
            <a href="#container" class="goto-content">본문 바로가기</a>
        </div>
        <!-- //skip -->

        <!-- con-wrap -->
        <div class="con-wrap">


            <div id="#container" class="container">

                <div class="contents">
                    <div class="contents-inner">
                        <div class="content-box">

                            <section class="login-section">

                                <div class="login-wrap">
                                    <!-- left -->
                                    <div class="layout_left">

                                        <div class="layout-inner">
                                            <div class="text-box">
                                                <div class="title"><img src="/resources/static/images/etc/kbank_logo.png" alt="Kbank"></div>
                                                <div class="desc mt20">
                                                    <span>Interface Integration Simulator</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- right -->
                                    <div class="layout_right">
                                        <div class="layout-inner">

                                            <div class="login-area">
                                                <div class="title"><span>로그인</span></div>
                                                <div class="form-box">
                                                    <div class="input-box">
                                                        <input type="text" class="inp" placeholder="사용자 ID" id="">
                                                    </div>
                                                </div>
                                                <div class="form-box">
                                                    <div class="input-box">
                                                        <input type="password" class="inp" placeholder="비밀번호" id="">
                                                    </div>
                                                </div>
                                                <div class="btn-box">
                                                    <button type="button" class="btn btn-primary"><span>버튼</span></button>
                                                </div>
                                                <div class="help-box">
                                                    <span class="text-muted">※ 비밀번호는 SSO 정보와 동일합니다.</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </section>

                        </div>
                    </div>
                </div>

            </div>



        </div>
        <!-- //container -->

        <!-- footer -->

    </div>
</body>

</html>