<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- head -->
    <meta charset="UTF-8">
    <title>메인</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/css/library/csslibrary.css">
    <link rel="stylesheet" href="/resources/static/css/common_pub.css">
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
    <script src="/resources/static/js/library/jquery.min.js"></script>
    <script src="/resources/static/js/library/jquerylibrary.min.js"></script>
    <script src="/resources/static/js/common_pub.js"></script>
    <!-- //head -->
</head>

<body>
    <div class="wrapper main">
        <!-- header -->


        <div class="header-wrap">
            <header class="header">
                <div class="header-area">
                    <div class="my-alram">
                        <button type="button" class="alram-btn"><span class="txt">알림</span><span class="on"></span></button>
                    </div>
                    <div class="my-info">
                        <button type="button" class="my-btn"><span class="my-name">홍길동</span><span class="my-num">(2*****)</span></button>
                    </div>
                    <div class="loginout"><button>로그아웃</button></div>
                </div>
            </header>

            <div class="page-title-wrap">

                <div class="inner">
                    <h2 class="title"><span>MAIN</span></h2>
                </div>

            </div>

        </div>
        <!-- //header -->

        <!-- container -->
        <div id="container">
            <div id="contents">
                container > contents

                <div class="wrap">
                    <div class="aaa">aaa</div>
                    <div class="bbb">bbb</div>
                    <div class="ccc">ccc</div>
                    <div class="ddd">ddd</div>
                </div>

            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer id="footer">
            <section class="footer-section">
                <div class="section-wrap">
                    <div class="section-inner">

                        footer load

                    </div>
                </div>
    </div>
    </footer>
    <!-- //footer -->

    </div>
</body>

</html>